* {
  margin: 0;
  padding: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 1em;
  text-align: justify;
}
.container-amount_articles {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 30px;
}
.container-amount_articles > * {
  margin-right: 5px;
}
.container-amount-how-much-articles {
  margin-top: 10px;
  margin-left: 30px;
}
.amountArticlesInput {
  width: 60px;
}

.container-articles {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.container_articles_single_article {
  padding: 20px 20px 20px 20px;
  width: 350px;
  margin-top: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 11px 0px rgba(66, 68, 90, 1);
}
.container_articles_single_article > * {
  margin: 20px;
}
.container_articles_single_article_title {
  text-align: center;
}
.container_articles_single_article_newsSite {
  color: rgb(74, 74, 247);
  text-decoration: none;
}
.container_articles_single_article_newsSite:hover {
  color: red;
}
.container_articles_single_article_newsSite:visited {
  color: #999;
}
.container_articles_single_article_btn_box {
  display: flex;

  justify-content: center;
}
.container-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container-btn-sort-byPublished {
  background-color: green;
}
.container-btn-sort-byTitle {
  background-color: red;
}
.container_articles_single_article_btn_box_addLibrary,
.go-to-library-btn,
.container-btn-sort-byPublished,
.container-btn-sort-byTitle,
.container-btn-sort-navigateMain {
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  transition: color 100ms;
}
.container-btn-sort-navigateMain{
  background-color: #999;
}
.go-to-library-btn {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: green;
}
.go-to-library-btn-link {
  color: white;
  text-decoration: none;
}
